# Supabase Configuration (Optional if migrating fully to MongoDB)
VITE_SUPABASE_URL=https://zihnupbzbamssonrrlhd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InppaG51cGJ6YmFtc3NvbnJybGhkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2Mzg2MjksImV4cCI6MjA4OTIxNDYyOX0.S9XgevovJhUYpP0TUSJYY7NC6fOSgWxlHFHq10m3W40
